@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-grotesk: "Space Grotesk", sans-serif;
  --font-bebas: var(--bebas-neue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .section_wrapper {
    @apply flex w-full flex-col px-8 py-8 sm:px-4;
  }

  .flex-center {
    @apply flex flex-col items-center justify-center;
  }

  .flex-row-center {
    @apply flex flex-row items-center justify-center;
  }

  .flex-between-center {
    @apply flex flex-row items-center justify-between;
  }

  .header {
    @apply font-grotesk max-w-prose text-xl font-extrabold text-neutral-50 sm:text-2xl;
  }
}
